In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(2)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56

In [2]:
purchase_data['Item ID'].unique().shape

(183,)

In [3]:
purchase_data['Item Name'].unique().shape

(179,)

In [4]:
purchase_data.groupby('Item Name')['Item ID'].apply(set)[20:] # Note Crucifer

Item Name
Bone Crushing Silver Skewer                   {165}
Bonecarvin Battle Axe                          {44}
Brimstone                                      {11}
Brutality Ivory Warmace                        {75}
Celeste                                        {91}
Celeste, Incarnation of the Corrupted          {67}
Chaos, Ender of the End                        {29}
Conqueror Adamantite Mace                      {65}
Crucifer                                    {1, 23}
Crying Steel Sickle                           {106}
Curved Axe                                     {33}
Darkheart                                     {152}
Darkheart, Butcher of the Champion            {158}
Dawn                                           {50}
Dawne                                          {12}
Deadline, Voice Of Subtlety                    {98}
Deathraze                                     {150}
Deluge, Edge of the West                       {87}
Demise                                         {71}
Despair, Favor of Due Diligence                {57}
Devine                                        {161}
Downfall, Scalpel Of The Emperor              {109}
Dragon's Greatsword                           {183}
Dreamkiss                                      {81}
Dreamsong                                      {80}
Emberling, Defender of Delusions               {88}
Endbringer                                     {51}
Eternal Cleaver                                {54}
Exiled Doomblade                              {164}
Exiled Mithril Longsword                      {126}
                                             ...
Thorn, Conqueror of the Corrupted               {9}
Thorn, Satchel of Dark Souls                    {7}
Thunderfury Scimitar                          {163}
Toothpick                                     {182}
Torchlight, Bond of Storms                     {18}
Tranquility, Razor of Black Magic             {149}
Trickster                                      {31}
Twilight's Carver                             {123}
Undead Crusader                               {134}
Unending Tyranny                              {122}
Unholy Wand                                    {26}
Vengeance Cleaver                              {53}
Venom Claymore                                {124}
Verdict                                         {2}
Victor Iron Spikes                             {66}
Vindictive Glass Edge                          {55}
War-Forged Gold Deflector                     {155}
Warmonger, Gift of Suffering's End            {148}
Warped Diamond Crusader                       {135}
Warped Fetish                                  {24}
Warped Iron Scimitar                          {146}
Whistling Mithril Warblade                    {125}
Winter's Bite                                  {72}
Winterthorn, Defender of Shifting Worlds      {177}
Woeful Adamantite Claymore                    {175}
Wolf                                           {60}
Wolf, Promise of the Moonwalker               {179}
Worldbreaker                                  {112}
Yearning Crusher                               {74}
Yearning Mageblade                            {114}
Name: Item ID, Length: 159, dtype: object

In [5]:
total_player_count = purchase_data['SN'].unique()
total_player_count = len(total_player_count)
total_player_count

576

In [6]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
#Using .unique() to find all items not including duplicates, then len() to count the total of unique items
number_of_unique = purchase_data['Item Name'].unique()
number_of_unique = len(number_of_unique)
number_of_unique

179

In [8]:
#Using .mean() to find the average of whole column of price
avg_price = purchase_data['Price'].mean()
avg_price = '${:,.2f}'.format(avg_price)
avg_price

'$3.05'

In [9]:
#Using len to total rows in 'Item Name Column'
number_purchases = purchase_data['Item Name']
number_purchases = len(number_purchases)
number_purchases

780

In [10]:
#Using .sum() to get total of 'Price' column and formating to show $ and to 2 decimals
total_rev = purchase_data['Price'].sum()
total_rev = '${:,.2f}'.format(total_rev)
total_rev

'$2,379.77'

In [11]:
#Create a new dataframe to hold the new calculated data
summary_df = pd.DataFrame({
                    "Number of Unique Items": [number_of_unique],
                    "Average Price": [avg_price],
                    "Number of Purchases": [number_purchases],
                    "Total Revenue": [total_rev],
    
})

summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [38]:
#Find and drop all duplicates in 'SN' and keep all unique, then group the data to 'Gender' and use .count() to get the
#total for all unique male, female, and other.  Create dataframe for the matliputlated information and set new index
#for rows
gender_unique = purchase_data.drop_duplicates(subset = 'SN', keep = 'first')
gender_unique = gender_unique.groupby(['Gender'])
gender_unique_count = gender_unique['SN'].count()
gender_unique_percent = (gender_unique_count / total_player_count) * 100


summary_gender_count = pd.DataFrame({'Total Count': gender_unique_count,
                                     'Percentage of Player': gender_unique_percent
})

summary_gender_count = summary_gender_count.reindex(['Male', 'Female', 'Other / Non-Disclosed'])

summary_gender_count.style.format({'Total Count': '{:,}', 'Percentage of Players': '{:,.2f}'})

In [50]:
#Find and drop all duplicates in 'SN' and keep all unique, then group the data to 'Gender' and use .count() to get the
#total for all unique male, female, and other. 
gender_unique = purchase_data.drop_duplicates(subset = 'SN', keep = 'first')
gender_unique = gender_unique.groupby(['Gender'])
gender_unique = gender_unique['SN'].count()

#Group data by 'Gender' to find the count, average price, and total purchase by group.  Then using the the unique
#count to calculate the total average purchase by a person in each different group.
gender_count = purchase_data.groupby(['Gender'])
gender_count_number = gender_count['SN'].count()
gender_count_total = gender_count['Price'].sum()
gender_avg_purchase = gender_count_total / gender_count_number
gender_avg_person = gender_count_total / gender_unique

summary_gender_count = pd.DataFrame({'Purchase Count': gender_count_number,
                             'Average Purchase Price': gender_avg_purchase,
                             'Total Purchase Value': gender_count_total,
                             'Avg Total Purchase per Person': gender_avg_person
                              
})

summary_gender_count.style.format({'Average Purchase Price':' ${:,.2f}', 'Total Purchase Value': '${:,.2f}',
                                   'Avg Total Purchase per Person': '${:,.2f}'})

In [51]:
#Create a function to create the group categories that will insert the grouped data into new column 'Age Group'

def get_age_bin(age):
    if age < 10:
        return "< 10"
    elif age < 15:
        return "10 - 14"
    elif age < 20:
        return "15 - 19"
    elif age < 25:
        return "20 - 24"
    elif age < 30:
        return "25 - 29"
    elif age < 35:
        return "30 - 34"
    elif age < 40:
        return "35 - 39"
    else:
        return "40 +"

purchase_data['Age Group'] = purchase_data['Age'].map(get_age_bin)

#Drop duplicates from 'SN' to calculate the total count and percentage of players
age_group = purchase_data.drop_duplicates(subset = 'SN', keep = 'first')
age_group = age_group.groupby(['Age Group'])
age_group_count = age_group['SN'].count()
age_group_percentage = (age_group_count / total_player_count) * 100

age_group_df = pd.DataFrame({'Total Count': age_group_count,
                              'Percentage of Players': age_group_percentage
                              
})

#Reindexing the column to display the last row first.
age_group_df = age_group_df.reindex(['< 10','10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', '40 +'])

#Format total count to whole numbers, and percentage of players to 2 decimals
age_group_df.style.format({'Total Count': '{:,}', 'Percentage of Players': '{:,.2f}'})

In [33]:

purchase_data['Age Group'] = purchase_data['Age'].map(get_age_bin)

#Find the purchase count, average purchase, and total purchase for each group that was created by the function
age_group_df = purchase_data.groupby(['Age Group'])
age_group_count = age_group_df['Age'].count()
age_group_avg = age_group_df['Price'].mean()
age_group_total = age_group_df['Price'].sum()

#Remove duplicates to calculated the per person average
age_group_unique = purchase_data.drop_duplicates(subset = 'SN', keep = 'first')
age_group_unique = age_group_unique.groupby(['Age Group'])
age_group_unique = age_group_unique['SN'].count()

#Combing the data from 2 group data to find the average per person
age_group_avg_person = (age_group_total / age_group_unique)



age_group_df = pd.DataFrame({'Purhcase Count': age_group_count,
                              'Average Purchase Price': age_group_avg,
                              'Total Purchase Value': age_group_total,
                              'Avg Total Purchase per Person': age_group_avg_person
})


#Format cells
age_group_df.style.format({'Average Purchase Price': '${:,.2f}', 'Total Purchase Value': '${:,.2f}',
                                       'Avg Total Purchase per Person': '${:,.2f}','text-align': 'left'})

In [34]:
#Group data by 'SN' to find the top purchase count, avg purchase price, and total purchase price
top_spender = purchase_data.groupby(['SN'])
top_spender_count = top_spender['Item ID'].count()
top_spender_total = top_spender['Price'].sum()
top_spender_avg = (top_spender_total / top_spender_count)


top_spender_df = pd.DataFrame({'Purhcase Count': top_spender_count,
                              'Average Purchase Price': top_spender_avg,
                              'Total Purchase Value': top_spender_total})

#Sort by the top purchase count to know who spent the most
top_spender_df = top_spender_df.sort_values('Total Purchase Value', ascending = False)
top_spender_df['Average Purchase Price'] = top_spender_df['Average Purchase Price'].map('${:.2f}'.format)
top_spender_df['Total Purchase Value'] = top_spender_df['Total Purchase Value'].map('${:.2f}'.format)

top_spender_df.head(5)

             Purhcase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [35]:
#Group by both 'item Id' and 'item name'
most_popular = purchase_data.groupby(['Item ID', 'Item Name'])
most_popular_count = most_popular['Item ID'].count()
most_popular_total = most_popular['Price'].sum()
most_popular_price = most_popular['Price'].mean()


most_popular_df = pd.DataFrame({'Purchase Count': most_popular_count,
                                'Item Price': most_popular_price,
                                'Total Purchase Value': most_popular_total})

#Sort by purchase count to know which item was brought most
most_popular_df = most_popular_df.sort_values('Purchase Count', ascending = False)

most_popular_df['Item Price'] = most_popular_df['Item Price'].map('${:.2f}'.format)
most_popular_df['Total Purchase Value'] = most_popular_df['Total Purchase Value'].map('${:.2f}'.format)


most_popular_df.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [30]:

most_profitable_df = most_popular_df
most_profitable_df = pd.DataFrame({'Purchase Count': most_popular_count,
                                   'Item Price': most_popular_price,
                                   'Total Purchase Value': most_popular_total})


#Sort by 'total purchase price' to find the item that most revenue
most_profitable_df = most_profitable_df.sort_values('Total Purchase Value', ascending = False)

most_profitable_df['Item Price'] = most_profitable_df['Item Price'].map('${:.2f}'.format)
most_profitable_df['Total Purchase Value'] = most_profitable_df['Total Purchase Value'].map('${:.2f}'.format)
most_profitable_df. head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80

In [ ]:
#Conclusion
# 1.  Major of the players are in the age group of 15 to making up 76.74 % of all the players.  They
# also contribute the most in revenue.
# 2.  The average majority of players are made up of males, making 84.0278 % of the total population.  There
# is a high likely hood that they make up a higher percentage but there is 1.909 % that didn't disclose their 
# gender.
# 3. It doesn't seem that there is a item that is overly popular with with the top 5 items being separated by 
# over 3 to 4 differnce in total purchases.